<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	
	<link rel="stylesheet" type="text/css" href="../css/mui.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/tt/list-table-cell.css"/>
	<style type="text/css">
		.top-content{
			margin-top: 15px;
			margin-left: 0px;
			margin-right: 0px;
			/* text-indent: 2px; */
			color: #333333;
		}
		.mui-grid-view.mui-grid-9 .mui-table-view-cell {
			margin: 5px 0 0 0;
			padding: 0px 0px;
			vertical-align: top;
			border-right: 0px solid #eee;
			border-bottom: 0px solid #eee;
			border-left: 0;
			border-top: 0;
			border-width: 0;
			background-color: white;
		}
		.mui-grid-view.mui-grid-9 {
			margin: 0;
			padding: 0;
			border-top: 0px solid #eee;
			border-left: 0px solid #eee;
			background-color: #f2f2f2;
		}

		.list-image{
			width: 100px;
			height: 100px;
			background-repeat:no-repeat; 
			background-size:100% 100%;
			/* display: inline-block; */
			margin-right: 0px;
			margin-top: 5px
		}
		.single-image{
			width: 100px;
			height: 100px;
			background-color: white;
			padding: 0px;
			/* margin-right: 5px; */
			border-radius: 2px;
			margin-bottom: 0;
			padding-bottom: 0;
		}
		
		.image-wrap{
			margin-top: 0px;
			margin-right: 5px;
			display: inline-block;
			margin-bottom: 0;padding-bottom: 0;
		}
		
		.bottom-bar{
			background-color: #fff;
			border-top-width: 1px;
			border-top-style: solid;
			border-top-color: #eee;
			height: 50px;
			position: fixed;
			bottom: 0;
			width: 100%;
		}
		
		[v-cloak] {
		  display: none;
		}

	</style>
</head>
<body style="background-color: white;">
<div class="mui-content" style="background-color: white;padding-bottom: 20px;margin-bottom: 50px;">
	<div id="base-info-id" style="margin-left: 15px;margin-right: 15px;margin-top: 20px;" v-cloak>
		<img v-bind:src= avatar alt="" class = "avatar-icon" style="border-radius: 20px;width:40px;">
		<div style="margin-left: 6px;">
			<div style="margin-top: 0px;color: #666;font-size: 15px;margin-left: 45px;margin-top: 0px;margin-bottom: 0px;height: 20px;">
				{{user_name}}
			</div>
			<div style="margin-left: 20px;display: inline-block;color: #8f8f94;font-size: 12px;margin-left: 15px;">
				{{postDate}}</div>
		</div>
		
		<!-- 动态内容，不同的类型格式不同 -->
		<div id="post-info-id" class="mui-media-body">
			<!-- <div class="top-content" style="white-space: pre-wrap;padding-left: 10px;">{{item.content}}</div> -->
		</div>
		<!-- 动态内容，不同的类型格式不同 -->
		
		<div v-if="images.length > 0" id="image-list" style="margin:8px 5px 8px 10px;"></div>
		<div style="margin-top: 8px;margin-left: 10px;">
			<div style="color: darkgray;font-size: 12px;display: inline-block;">{{item.readCnt}}阅读</div>
			<div @tap="zanAction();" style="display: inline-block;float: right;margin-right: 50px;font-size: 12px;color: #808080;">
				<img id="zan-icon-id" src="../images/comment_like_icon_normal@2x.png" width="20px" height="20px" style="margin-top: 2px;margin-bottom: -6px;" >
				<div id="zan-number-id" style="display: inline-block;"></div>
			</div>
		</div>

		<div style="margin-top: 20px; margin-left: -15px;margin-right: -15px; border-width: 0; border-width: 8px 0 1px 0;border-color: #F0F0F0;border-style: solid;padding: 10px 15px;font-size: 15px;color: #666666;">
			评论	
		</div>	
	</div><!-- 动态内容 -->

	<!-- 评论列表 -->
	<div id="comment-list-id" v-cloak>
		<ul  v-if="items.length > 0"   class="mui-table-view" >
			<li class="mui-table-view-cell" v-for="item in items">
				<a >
					<img v-bind:src = item.avatar class = "avatar-icon" style="border-radius: 15px;width:30px;height: 30px;margin-top: 3px;">
					
					<div :id= item.id @tap="commentZanAction($event ,item)" style="display: inline-block;float: right;margin-right: 20px;font-size: 12px;color: #808080;">
						<img v-if="item.isPraised > 0" src="../images/comment_like_icon_press@2x.png" width="15px" height="15px" style="margin-top: 2px;margin-bottom: -2px;" >
						<img v-else src="../images/comment_like_icon_normal@2x.png" width="15px" height="15px" style="margin-top: 2px;margin-bottom: -2px;" >
						<div v-if="item.praise > 0" style="display: inline-block;">{{item.praise}}</div>
					</div>
					
					<div style="margin-top: 5px;">
						<div style="color: #5e86c1;font-size: 14px;margin-left: 40px;margin-top: 0px;margin-bottom: 0px;height: 20px;">
							{{item.user_name}}
						</div>
						
						<div class="mui-media-body">
							<div class="top-content" style="white-space: pre-wrap;padding-left: 5px;font-size: 16px;margin-top: 10px;text-indent: 0px;">{{item.content}}</div>
						</div>
						
		<!-- 				<div @tap="tableViewDidClick(item)" style="margin-left: 35px; margin-top: 8px; display: inline-block;color: #666;font-size: 12px;">
							{{item.postDate}} <span style="margin-left: 10px;">回复</span> 
						</div> -->
						<div style="margin-left: 35px; margin-top: 8px; display: inline-block;color: #666;font-size: 12px;">
							{{item.postDate}} <span style="margin-left: 10px;"></span> 
						</div>
						
						<!-- 删除自己的评论 -->
						<div v-if="isMyPost(item)" @tap="deleteMyComment(item);" id="delete-my-comment"  style="float: right; margin-right: 20px; margin-top: 8px; display: inline-block;color: #666;font-size: 12px;padding: 0 5px;">
							删除
						</div>
						
					</div>
				</a>
			</li>
		</ul>
		<div v-else style="text-align: center;font-size: 14px;margin-top: 50px;color: darkgray;">
			暂无评论
		</div>
	</div>
	
	<div class="bottom-bar">
		<div  style="margin-top: 5px;margin-left: 15px;" >
			<button id="write-comment-id" type="button" style="font-size: 12px;border-width: 0;background-color: #FFFFFF;">
				<div style="display: inline-block;">
					<img src="../images/write_icon@2x.png" width="20px" height="20px" style="margin-top: 2px;margin-bottom: -3px;">
				</div>
				<div style="margin-left: 6px;display: inline-block;color: #808080;">写评论</div>
			</button>
			
			<div id="bottom-bar-id" style="display: inline-block;margin-top: 10px;margin-left: 10%;">
				<img src="../images/tab_comment@2x.png" width="25px" height="25px" style="margin-bottom: -10px;">
				<div v-if="item.commentCnt > 0" id="comment-cnt-bandge" style="display: inline-block; background-color: #FF5053;color: white;font-size: 10px;margin-left: -15px;padding: 0px 6px; border-radius: 8px;height: 15px;" v-cloak>
					{{item.commentCnt}}
				</div>
			</div>
			
			<div id="sc-button-id" style="display: inline-block;float: right;margin-right: 50px;font-size: 12px;color: #808080;">
				<img v-if="item.issc > 0" src="../images/likeicon_actionbar_details_press@2x.png" width="20px" height="20px" style="margin-top: 12px;margin-bottom: -6px;" >
				<img v-else src="../images/likeicon_actionbar_details@2x.png" width="20px" height="20px" style="margin-top: 12px;margin-bottom: -6px;" >
				<div v-if="item.issc > 0" style="display: inline-block;">取消收藏</div>
				<div v-else style="display: inline-block;">添加收藏</div>
			</div>
		</div>
	</div>
	
</div>

<script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/p/vue.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/p/date.formatter.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/p/open.page.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/p/hud.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/p/api.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/p/user.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	var postInfo = {}//动态详情信息
	var category;//动态类型 sy ,zt ,life
	var commentPageNum = 1;
	var issc = false;//是否收藏
	var iszan = false;//是否点赞
	var _myId = getLoginUid();
	mui.init()
	
	///动态赞,不能取消
	function zanAction(){
		if(iszan){mui.toast('已经赞过!');return;}
		var d = {"pid":postInfo['pid'] , 
		"type":"1" ,
		"postby":postInfo['uid'] , //发布者
		"uid":_myId,//评论者
		"category":category , 
		"postContent":postInfo["content"]}
		
		hud_show('请求中');
		api_post(detail_url ,d,function(res){
			iszan = !iszan;
			setZanIcon(iszan);
			hud_close('点赞成功');
		},function(error){
			hud_close(error);
		})
	}
	
	function setZanNumber(num){
		var zanCnt = document.getElementById('zan-number-id');
		if(zanCnt){
			zanCnt.innerText = num;
		}
	}
	
	function setZanIcon(isPraise){
		var zanIcon = document.getElementById('zan-icon-id');
		zanIcon.setAttribute('src' , isPraise ? "../images/comment_like_icon_press@2x.png" : "../images/comment_like_icon_normal@2x.png");
	}
	
	//评论点赞
	function commentZanAction(obj , item){
		var _srcId = obj.currentTarget.id;//目标元素ID
		//console.log(obj.type);//事件类型
		var _div0 = document.getElementById(_srcId);
		var _img = _div0.getElementsByTagName('img')[0];
		if(_img){
			console.log(_img.src);
			var now_icon = _img.src;
			var isliked = now_icon.indexOf('comment_like_icon_press') != -1;
			if(isliked){mui.toast('已经赞过!');return;}
			
			var d = {"pid":item['id'] , 
			"type":"1" ,
			"postby":item['uid'] , //发布者
			"uid":_myId,//评论者
			// "category":category , 
			"postContent":item["content"],
			'iscommentpraise':1}
			
			hud_show('请求中');
			api_post(detail_url ,d,function(res){
				isliked = !isliked;
				
				_img.setAttribute('src' , isliked ? "../images/comment_like_icon_press@2x.png" : "../images/comment_like_icon_normal@2x.png");
				
				hud_close('点赞成功');
			},function(error){
				hud_close(error);
			})
		}
		
		//console.log(JSON.stringify(item));
	}
	
	//删除评论
	function deleteMyComment(item) {
		plus.nativeUI.confirm('确定删除这条评论?' , function(e){
			if(e.index == 0){
				var d = {"type":"delete","id":item['id']};
				hud_show('删除评论');
				api_post(comment_url , d , function(res){
					hud_close('删除评论成功');
					
					//删除自己的评论后刷新列表
					var w = plus.webview.currentWebview();
					mui.fire(w , 'refresh-comment-event');
				},function(err){
					hud_close('删除评论失败');
				})
			}
		},{title:'提示' , buttons:['确定' , '取消']});
	}
	//是否自己的评论
	function isMyPost(item){
		var _uid = item['uid'];
		return _uid == _myId;
	}
	
	//回复评论
	function tableViewDidClick(item){
		openNewPage('comment-list.html','评论回复',true , {'originItem':item});
	}
	
	mui.plusReady(function () {
	    var w = plus.webview.currentWebview();
		postInfo = w.item;
		category = w.category;
		
		console.log(category);
		
		//内容信息
		var baseInfo = new Vue({
			el:'#base-info-id',
			data:{
				item: {
					user:{}
				}
			},
			computed:{
				user_name:function(){
					var d = this.item;
					var user = d['user'];
					var uname = user["name"] || user['nickName'];
					return uname;
				},
				avatar:function(){
					var d = this.item;
					var u_avatar = d['user']['avatar'] || "../images/default_avatar.png";
					
					return u_avatar;
				},
				postDate:function(){
					var d = this.item;
					var s = d['postDate'];
					var t = dateUtils.format(s);
					return t;
				},
				images:function(){
					//添加图片	
					var d = this.item;
					var igStr = d['images'];
					if(igStr != null && igStr.length > 0){
						var igurlArr = igStr.split(',');
						// console.log(igurlArr.length);
						return igurlArr;
					}
					return [];
				}
			}
		});

		baseInfo.item = postInfo;
		
		setTimeout(function(){
			displayImageList(baseInfo.images);
			
			/////帖子详细内容
			var rootdiv = document.getElementById('post-info-id');
			var _content = baseInfo.item['content'];
			var _type = baseInfo.item['type'];
			
			var div1 = document.createElement('div');
			div1.className = 'top-content';
			div1.setAttribute('style',"white-space: pre-wrap;padding-left: 10px;");
			
			switch (category){
				case dt_type_sy:div1.innerText = _content;break;
				case dt_type_zt:
					var div20 = document.createElement('div');
					div20.setAttribute('style',"font-size:18px;color:#333; font-weight:bolder; margin:15px 0;");
					div20.innerText = _content['title'];
					
					var div21 = document.createElement('div');
					div21.style.fontSize = '17px';
					div21.innerText = _content['content'];
					
					div1.appendChild(div20);
					div1.appendChild(div21);
				break;
				
				case dt_type_life:
					if(_type == 21 || _type == 23 || _type == 24 || _type == 25){
						var subContent;
						switch (_type){
							case '21':
							var _subType = _content['type'];
							subContent = _subType ? '招聘' : '求职';break;
							
							case '23':
							var _subType = _content['type'];
							subContent = _subType ? '我是女生' : '我是男生';break;
							
							case '24':
							var _subType = _content['type'];
							subContent = _subType ? '我要找房' : '我是房主';break;
							
							case '25':
							var _subType = _content['type'];
							subContent = _subType ? '人找车' : '车找人';break;
							default:break;
						}
						
						var div_subtype  = document.createElement('div');
						div_subtype.setAttribute('style','margin-top:25px;');
						
						var span_subtype = document.createElement('span');
						span_subtype.setAttribute('style','color:white;font-size:15px;margin-top:5px;background-color:#ff6000;padding:5px 10px;border-radius:5px;');
						span_subtype.innerText = subContent;
						
						div_subtype.appendChild(span_subtype);
						div1.appendChild(div_subtype);
					}
					
					var div20 = document.createElement('div');
					div20.setAttribute('style',"font-size:17px;color:#333;  margin:15px 0;");
					div20.innerText = _content['title'];
					
					var div21 = document.createElement('div');
					div21.style.fontSize = '17px';
					div21.innerText = _content['content'];
					
					div1.appendChild(div20);
					div1.appendChild(div21);
				break;
				
				default:break;
			}
			
			
			rootdiv.appendChild(div1);
			
		} , 10);
		
		///bottom-bar 只有评论数
		var bottomBar_v = new Vue({
			el:"#bottom-bar-id",
			data:{
				item:{}
			}
		});
		
		////评论列表
		var comment_v = new Vue({
			el:"#comment-list-id",
			data:{
				items:[],
				nodata:false
			}
		});
		
		///是否收藏
		var sc_v = new Vue({
			el:"#sc-button-id",
			data:{
				item:{}
			}
		})
		
		function _commentDataConvert(arr){
			var _new = [];
			for (var i = 0; i < arr.length; i++) {
				var obj = arr[i];
				obj['user_name'] = obj["u_name"] || obj['u_nickName'];
				obj['avatar'] = obj['u_avatar'] || "../images/default_avatar.png";
				obj['postDate'] = dateUtils.format(obj['date']);
				_new.push(obj);
			}
			return _new;
		}
		
		
		loadComment();
		loadDtDetail();
		
		//获取阅读量,点赞,收藏
		function loadDtDetail(){
			var d = {"pid":postInfo['pid'],
				"type":"0",
				"uid":_myId,
                "category":category
			}
			
			api_post(detail_url,d,function(res){
				sc_v.item = {'issc':res['sc']};
				issc = res['sc'] == 1;
				
				//zan-number-id设置点赞数
				setZanNumber(res['praiseCnt'] || '');
				iszan = res['isPraised'];
				setZanIcon(iszan);
			},function(error){
				
			})
		}
		
		//添加取消收藏
		document.getElementById('sc-button-id').addEventListener('tap',function(){
			var d = {"pid":postInfo['pid'],
				"type":issc ? "3" : "2",
				"uid":_myId,
				'subType':'10',
				"category":category
			}
			
			hud_show('请求中');
			api_post(detail_url,d,function(res){
				issc = !issc;
				sc_v.item = {'issc':issc};
				hud_close(issc ? '收藏成功!' : '已取消');
			},function(error){
				hud_close(error || '操作失败,请稍后重试!');
			})
		})
		
		///方法操作声明
		window.addEventListener('refresh-comment-event' , function(){
			commentPageNum = 1;
			loadComment();
		});
		
		//获取评论
		function loadComment(){
			var d = {"type":"get",
                 "pid":postInfo['pid'],
                 "category":category,
                 "pageNumber":commentPageNum};
			
			var hasLogin = hasLogined();	 
			if(hasLogin){//..是否登录过
				d['uid'] = getLoginUid();
			}	 
			
			api_post(comment_url , d , function(res){
				if(res.length > 0){
					var _new =  _commentDataConvert(res);
					comment_v.nodata = true;
					comment_v.items = _new;
					//显示评论数
					bottomBar_v.item = {'commentCnt':res.length};
					// console.log(JSON.stringify(res[0]));
				}else{
					comment_v.nodata = false;
					console.log('no comment');
				}
			},function(error){
				console.log(error);
			})
		}
		

		
		///评论点赞
		mui('#write-comment-id')[0].addEventListener('tap',function(){
		  //不能控制字数,不能监听事件
		  /*plus.nativeUI.prompt('请输入' , function(e){
			  if(e.index == 0){
				  console.log('提交评论');
			  }
		  },'', "认真评论是一种生活态度", ["提交","取消"])*/
		  
		  //...是否登录
		  
		  //单独页面去评论
		  openNewPage('publish/pub-comment.html','写评论',true , {'dtInfo':postInfo});
		})
		
		
		//显示图片列表
		function displayImageList(imagesArr){
			var _divi = 3.0;
			if(imagesArr.length == 1){
				_divi = 1.0;
			}else if(imagesArr.length == 2){
				_divi = 2.0;
			}
			
			var _width = (plus.screen.resolutionWidth - 60) / _divi;
			var root = document.getElementById('image-list');
			for (var i = 0; i < imagesArr.length; i++) {
				var url = imagesArr[i];
				var div = document.createElement('div');
				div.className = 'image-wrap';
				div.style.width = _width + 'px';
				div.style.height = (_width) + 'px';
				div.id = 'image-index-' + i;
				
				var div_ig = document.createElement('div');
				div_ig.style.height = _width + 'px';
				
				var ig = document.createElement('img');
				ig.className = 'single-image';
				ig.style.width = _width + 'px';
				ig.style.height = (_width) + 'px';
				
				ig.setAttribute('src' , url);
				div_ig.appendChild(ig);
				div.appendChild(div_ig);
				
				root.appendChild(div);
			}
		}
		
	})
</script>
</body>
</html>